
<div class="container">

  <%= image_tag("DogImage.jpg", alt: "Dog Image", class:"dog-image") %>

  <h2>Random Dog Fact</h2>

    <p class="did-you-know">Did you know?</p>
      <div class= "fact-container">
        <p class="dog-fact"><%= @dog_fact %></p>
      </div>

  <%= link_to "Get New Fact", dog_facts_path, id: "new-fact-button" %>
</div>