
<div class="container">

  <%= image_tag("LaughingEmoji.png", alt: "LaughingEmojiImage", class:"laugh-image") %>

  <h2>Time for Laughs</h2>

      <div class= "fact-container">
        <p class="jokes"><%= @joke%></p>
      </div>

  <%= link_to "Get New Joke", jokes_path, id: "new-joke-button" %>
</div>